<div>
    <h1 matDialogTitle class="text-center">Numero del tavolo</h1>
    <div matDialogContent>
        <form [formGroup]="form" class="row">
            <span class="text-center">Seleziona il numero del tuo tavolo</span>
            <mat-form-field class="text-center">
                <input matInput class="text-center input" type="number" min="1" max="20" formControlName="numeroTavolo" placeholder="Seleziona il numero del tuo tavolo">
            <mat-error>Inserisci un numero da 1 a 20</mat-error>
            </mat-form-field>
        </form>
    </div>
    <div mat-dialog-actions class="row bottone">
        <button class="btn btn-primary text-center" *ngIf="!form.invalid" (click)="conferma()">Conferma</button>
    </div>
</div>